<div class="container bg-light">
  <div class="p-4">
    <h1 class="py-3 px-1">О нас</h1>

    <p>Добро пожаловать на ReSale!</p>
    <p>Мы - онлайн-платформа, которая связывает покупателей и продавцов товаров. Наша цель - предоставить удобную и надежную торговую площадку, где пользователи могут покупать и продавать различные товары.</p>
    <p>У нас вы найдете широкий выбор объявлений по различным категориям, таким как одежда, электроника, мебель и многое другое.</p>
    <p>Присоединяйтесь к нам на ReSale и наслаждайтесь покупками и продажами товаров в удобном и надежном сообществе!</p>
  </div>
</div>
