<div *ngIf="advertisement" class="bg-info bg-opacity-10 p-5">
  <div class="d-flex">
    <div class="col-6">
      <ngb-carousel [showNavigationIndicators]="false" *ngIf="advertisement.images.length"
                    class="border-2 border-primary bg-light bg-opacity-10"
                    style="border-radius: 10%">
        <ng-template ngbSlide *ngFor="let image of advertisement.images">
          <div class="col-12 d-flex flex-column justify-content-center flex-wrap">
            <div class="d-flex justify-content-center flex-wrap align-content-center">
              <img [src]="baseUrl+'images/' + image.id" alt="Random first slide" class="adv-image">
            </div>
            <div class="d-flex justify-content-center p-2">
              <button class="btn bg-danger bg-opacity-10 col-6" (click)="deleteImage(image)">Удалить</button>
            </div>
          </div>
        </ng-template>
      </ngb-carousel>
      <div class="d-flex justify-content-center flex-column col-12 mt-2">
        <label for="image" class="btn bg-success bg-opacity-10 col-12">добавить фото</label>
        <input type="file" id="image" (change)="addImage($event)" class="">
      </div>
    </div>
    <div class="col-6 p-2">
      <form [formGroup]="adv" class="col-12 d-flex flex-column justify-content-center">
        <div class="col-xl-8">
          <label class="col-12">Название товара</label>
          <input class="col-12 form-control bg-opacity-50 bg-white" type="text" formControlName="name" >
          <div class="col-12" *ngIf="adv.get('name')?.invalid &&
          (adv.get('name')?.dirty ||
          adv.get('name')?.touched)">
            <div class="bg-danger bg-opacity-25 form-control"
                 *ngIf="adv.get('name')?.errors?.required">
              название обязательное для заполнения</div>
            <div class="bg-danger bg-opacity-25 form-control"
                 *ngIf="adv.get('name')?.errors?.minlength">
              Название должно быть не меньше 2 символов</div>
            <div class="bg-danger bg-opacity-25 form-control"
                 *ngIf="adv.get('name')?.errors?.maxLength">
              Название должно не превышать 50 символов</div>
          </div>
        </div>
        <div class="col-xl-8">
          <label class="col-12">Описание</label>
          <textarea class="col-12 form-control bg-opacity-50 bg-white" formControlName="description"></textarea>
          <div class="col-12" *ngIf="adv.get('description')?.invalid &&
          (adv.get('description')?.dirty ||
          adv.get('description')?.touched)">
            <div class="bg-danger bg-opacity-25 form-control"
                 *ngIf="adv.get('description')?.errors?.maxLength">
              Превышен лимит на 1000 символов</div>
          </div>
        </div>
        <div class="col-xl-8">
          <label class="col-12">Цена</label>
          <input class="col-12 form-control bg-opacity-50 bg-white" type="number" formControlName="price" >
          <div class="col-12" *ngIf="adv.get('price')?.invalid &&
          (adv.get('price')?.dirty ||
          adv.get('price')?.touched)">
            <div class="bg-danger bg-opacity-25 form-control"
                 *ngIf="adv.get('price')?.errors?.min">
              Цена не может быть отрицательной</div>
            <div class="bg-danger bg-opacity-25 form-control"
                 *ngIf="adv.get('price')?.errors?.max">
              Ограничение по цене 50000 EUR</div>
          </div>
        </div>
        <div class="col-xl-8" *ngIf="auth.roleMatch(['admin'])">
          <label class="col-12">Статус</label>
          <select class="col-12 bg-opacity-50 bg-white form-select"  formControlName="status">
            <option value="1" class="bg-opacity-50 bg-white">В обработке</option>
            <option value="2" class="bg-opacity-50 bg-white">Активный</option>
            <option value="3" class="bg-opacity-50 bg-white">В архиве</option>
          </select>
        </div>
      </form>
    </div>
  </div>
  <div class="p-3">
    <h2>Характеристики</h2>
    <div>
      <div *ngFor="let feature of advertisement.features; let i = index" class="col-6">
        <div>{{feature.name}}</div>
        <input value="{{feature.value}}" (change)="updateFeature(i, $event)" class="form-control bg-opacity-50 bg-white">
      </div>
    </div>
  </div>
  <button class="btn btn-primary col-12" (click)="saveAdvertisement()">Сохранить изменения</button>
</div>

