<div class="container-fluid d-flex justify-content-center p-4">
  <form [formGroup]="form" (ngSubmit)="updateUser()" class="col-md-6 col-10" (change)="isSave = !isSave">
    <label for="login">Имя пользователя</label>
    <input type="text" name="login" id="login" formControlName="login"
           class="col-12 form-control-lg bg-opacity-50 bg-white mt-2 mb-3">
    <div class="col-12" *ngIf="form.get('login')?.invalid &&
          (form.get('login')?.dirty ||
          form.get('login')?.touched)">
      <div class="bg-danger bg-opacity-25 form-control"
           *ngIf="form.get('login')?.errors?.required">
        Имя пользователя обязательное для заполнения</div>
      <div class="bg-danger bg-opacity-25 form-control"
           *ngIf="form.get('login')?.errors?.minlength">
        Имя пользователя должно быть не меньше 4 символов</div>
      <div class="bg-danger bg-opacity-25 form-control"
           *ngIf="form.get('login')?.errors?.maxlength">
        Имя пользователя должно быть не больше 20 символов</div>
      <div class="bg-danger bg-opacity-25 form-control"
           *ngIf="form.get('login')?.errors?.pattern">
        Имя пользователя должно начинаться с латинской буквы и состоять
        только из латинских букв, цифр и знака подчеркивания</div>
    </div>
    <label for="firstName">Имя</label>
    <input type="text" name="firstName" id="firstName" formControlName="firstName"
           class="col-12 form-control-lg bg-opacity-50 bg-white mt-2 mb-3">
    <div class="col-12" *ngIf="form.get('firstName')?.invalid &&
          (form.get('firstName')?.dirty ||
          form.get('firstName')?.touched)">
      <div class="bg-danger bg-opacity-25 form-control"
           *ngIf="form.get('firstName')?.errors?.required">
        Имя обязательно для заполнения</div>
      <div class="bg-danger bg-opacity-25 form-control"
           *ngIf="form.get('firstName')?.errors?.minlength">
        Имя должно быть не меньше 2 символов</div>
      <div class="bg-danger bg-opacity-25 form-control"
           *ngIf="form.get('firstName')?.errors?.maxlength">
        Имя должно быть не больше 20 символов</div>
      <div class="bg-danger bg-opacity-25 form-control"
           *ngIf="form.get('firstName')?.errors?.pattern">
        Имя должно состоять только из латинских или русских букв</div>
    </div>
    <label for="lastName">Фамилия</label>
    <input type="text" name="lastName" id="lastName" formControlName="lastName"
           class="col-12 form-control-lg bg-opacity-50 bg-white mt-2 mb-3">
    <div class="col-12" *ngIf="form.get('lastName')?.invalid &&
          (form.get('lastName')?.dirty ||
          form.get('lastName')?.touched)">
      <div class="bg-danger bg-opacity-25 form-control"
           *ngIf="form.get('lastName')?.errors?.required">
        Фамилия обязательна для заполнения</div>
      <div class="bg-danger bg-opacity-25 form-control"
           *ngIf="form.get('lastName')?.errors?.minlength">
        фамилия должна быть не меньше 2 символов</div>
      <div class="bg-danger bg-opacity-25 form-control"
           *ngIf="form.get('lastName')?.errors?.maxlength">
        Фамилия должна быть не больше 20 символов</div>
      <div class="bg-danger bg-opacity-25 form-control"
           *ngIf="form.get('lastName')?.errors?.pattern">
        Фамилия должна состоять только из латинских или русских букв</div>
    </div>
    <label for="email">Электронная почта</label>
    <input type="email" name="email" id="email" formControlName="email"
           class="col-12 form-control-lg bg-opacity-50 bg-white mt-2 mb-3">
    <div class="col-12" *ngIf="form.get('email')?.invalid &&
          (form.get('email')?.dirty ||
          form.get('email')?.touched)">
      <div class="bg-danger bg-opacity-25 form-control"
           *ngIf="form.get('email')?.errors?.pattern">
        Электронная почта не соответствует формату</div>
    </div>
    <label for="age">Дата рождения</label>
    <input type="date" name="age" id="age" formControlName="age"
           class="col-12 form-control-lg bg-opacity-50 bg-white mt-2 mb-3">
    <div class="col-12" *ngIf="form.get('age')?.invalid &&
          (form.get('age')?.dirty ||
          form.get('age')?.touched)">
      <div class="bg-danger bg-opacity-25 form-control"
           *ngIf="form.get('age')?.errors?.required">
        Дата рождения обязательна для заполнения</div>
    </div>
    <label for="phone">Телефон</label>
    <input type="text" name="phone" id="phone" formControlName="phone"
           class="col-12 form-control-lg bg-opacity-50 bg-white mt-2 mb-3">
    <div class="col-12" *ngIf="form.get('phone')?.invalid &&
          (form.get('phone')?.dirty ||
          form.get('phone')?.touched)">
      <div class="bg-danger bg-opacity-25 form-control"
           *ngIf="form.get('phone')?.errors?.pattern">
        телефон не соответстфует формату</div>
    </div>
    <input type="hidden" formControlName="userId">
    <div class="d-flex justify-content-end">
      <input *ngIf="!isSave" type="submit" value="Обновить" class="btn btn-primary end-0 col-12">
      <button *ngIf="isSave" class="btn btn-success end-0 col-12">сохранено <fa-icon [icon]="faCheck"></fa-icon></button>
    </div>
  </form>
</div>
